### Java ###
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
 .mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

### Spring Boot ###
HELP.md
.springBeans

.env
.env.local
*.env
application-secret.properties
application-secret.yml

### Sistemas Operacionais ###
.DS_Store
Thumbs.db